In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time

In [2]:
qb = pd.read_csv('nfl_data/2021_qb.csv')
qb.head()

,name,pass_yds,yds/att,att,cmp,cmp_perc,td,int,rate,1st,1st_perc,20_plus,40_plus,long,sacked,sack_yds
0,Tom Brady,5316,7.4,719,485,0.675,43,12,102.1,269,0.374,75,10,62,22,144
1,Justin Herbert,5014,7.5,672,443,0.659,38,15,97.7,256,0.381,53,15,72,31,214
2,Matthew Stafford,4886,8.1,601,404,0.672,41,17,102.9,233,0.388,65,18,79,30,243
3,Patrick Mahomes,4839,7.4,658,436,0.663,37,13,98.5,260,0.395,58,11,75,28,146
4,Derek Carr,4804,7.7,626,428,0.684,23,14,94.0,217,0.347,67,10,61,40,241

In [3]:
qb_fantasy_points = {
            'touchdown': 6,
            'pass_yds': 25,
            'interception': -2,
        }

In [4]:
qb['fantasy_pts'] = qb['td'].multiply(qb_fantasy_points['touchdown']) + qb['pass_yds'].divide(qb_fantasy_points['pass_yds']) + qb['int'].multiply(qb_fantasy_points['interception'])

In [5]:
qb.sort_values(by='fantasy_pts', ascending=False)

,name,pass_yds,yds/att,att,cmp,cmp_perc,td,int,rate,1st,1st_perc,20_plus,40_plus,long,sacked,sack_yds,fantasy_pts
0,Tom Brady,5316,7.4,719,485,0.675,43,12,102.1,269,0.374,75,10,62,22,144,446.64
2,Matthew Stafford,4886,8.1,601,404,0.672,41,17,102.9,233,0.388,65,18,79,30,243,407.44
1,Justin Herbert,5014,7.5,672,443,0.659,38,15,97.7,256,0.381,53,15,72,31,214,398.56
3,Patrick Mahomes,4839,7.4,658,436,0.663,37,13,98.5,260,0.395,58,11,75,28,146,389.56
6,Dak Prescott,4449,7.5,596,410,0.688,37,10,104.2,227,0.381,55,7,51,30,144,379.96
9,Aaron Rodgers,4115,7.7,531,366,0.689,37,4,111.9,213,0.401,55,10,75,30,188,378.60
7,Josh Allen,4407,6.8,646,409,0.633,36,15,92.2,234,0.362,51,8,61,26,164,362.28
5,Joe Burrow,4611,8.9,520,366,0.704,34,14,108.3,202,0.388,60,15,82,51,370,360.44
8,Kirk Cousins,4221,7.5,561,372,0.663,33,7,103.1,192,0.342,60,10,64,28,197,352.84
4,Derek Carr,4804,7.7,626,428,0.684,23,14,94.0,217,0.347,67,10,61,40,241,302.16
17,Carson Wentz,3563,6.9,516,322,0.624,27,7,94.6,165,0.320,42,9,76,32,227,290.52
13,Kyler Murray,3787,7.9,481,333,0.692,24,10,100.6,172,0.358,49,9,77,31,286,275.48
21,Russell Wilson,3113,7.8,400,259,0.648,25,6,103.1,135,0.338,45,10,69,33,266,262.52
14,Ben Roethlisberger,3740,6.2,605,390,0.645,22,10,86.8,188,0.311,39,9,59,38,239,261.60
12,Mac Jones,3801,7.3,521,352,0.676,22,13,92.5,177,0.340,52,6,75,28,241,258.04
10,Matt Ryan,3968,7.1,560,375,0.670,20,12,90.4,195,0.348,44,7,64,40,274,254.72
11,Jimmy Garoppolo,3810,8.6,441,301,0.683,20,12,98.7,172,0.390,54,8,83,29,201,248.40
15,Ryan Tannehill,3734,7.0,531,357,0.672,21,14,89.6,192,0.362,35,7,57,47,327,247.36
19,Jared Goff,3245,6.6,494,332,0.672,19,8,91.5,162,0.328,39,3,63,35,280,227.80
18,Taylor Heinicke,3419,6.9,494,321,0.650,20,15,85.9,167,0.338,40,6,73,38,278,226.76
22,Teddy Bridgewater,3052,7.2,426,285,0.669,18,7,94.9,146,0.343,33,5,64,31,211,216.08
20,Jalen Hurts,3144,7.3,432,265,0.613,16,9,87.2,143,0.331,44,5,91,26,150,203.76
23,Baker Mayfield,3010,7.2,418,253,0.605,17,13,83.1,143,0.342,42,9,71,43,269,196.40
24,Lamar Jackson,2882,7.5,382,246,0.644,16,13,87.0,135,0.353,41,5,49,38,190,185.28
16,Trevor Lawrence,3641,6.0,602,359,0.596,12,17,71.9,177,0.294,43,5,58,32,238,183.64

In [6]:
qb.loc[[0, 12]]

,name,pass_yds,yds/att,att,cmp,cmp_perc,td,int,rate,1st,1st_perc,20_plus,40_plus,long,sacked,sack_yds,fantasy_pts
0,Tom Brady,5316,7.4,719,485,0.675,43,12,102.1,269,0.374,75,10,62,22,144,446.64
12,Mac Jones,3801,7.3,521,352,0.676,22,13,92.5,177,0.340,52,6,75,28,241,258.04

In [7]:
qb_2001 = pd.read_csv('nfl_data/2001_qb.csv')
qb_2001.head()

,name,pass_yds,yds/att,att,cmp,cmp_perc,td,int,rate,1st,1st_perc,20_plus,40_plus,long,sacked,sack_yds
0,Kurt Warner,4830,8.8,546,375,0.687,36,22,101.4,233,0.427,81,11,65,38,233
1,Peyton Manning,4131,7.6,547,343,0.627,26,23,84.1,201,0.367,55,11,86,29,232
2,Brett Favre,3921,7.7,510,314,0.616,32,15,94.1,187,0.367,53,13,67,22,151
3,Aaron Brooks,3832,6.9,558,312,0.559,26,22,76.4,183,0.328,55,13,63,50,330
4,Rich Gannon,3828,7.0,549,361,0.658,27,9,95.5,194,0.353,45,5,49,27,155

In [8]:
qb_2001['fantasy_pts'] = qb_2001['td'].multiply(qb_fantasy_points['touchdown']) + qb_2001['pass_yds'].divide(qb_fantasy_points['pass_yds']) + qb_2001['int'].multiply(qb_fantasy_points['interception'])

In [9]:
qb_2001.sort_values(by='fantasy_pts', ascending=False)

,name,pass_yds,yds/att,att,cmp,cmp_perc,td,int,rate,1st,1st_perc,20_plus,40_plus,long,sacked,sack_yds,fantasy_pts
0,Kurt Warner,4830,8.8,546,375,0.687,36,22,101.4,233,0.427,81,11,65,38,233,365.20
2,Brett Favre,3921,7.7,510,314,0.616,32,15,94.1,187,0.367,53,13,67,22,151,318.84
8,Jeff Garcia,3538,7.0,504,316,0.627,32,12,94.8,183,0.363,40,10,61,26,114,309.52
4,Rich Gannon,3828,7.0,549,361,0.658,27,9,95.5,194,0.353,45,5,49,27,155,297.12
1,Peyton Manning,4131,7.6,547,343,0.627,26,23,84.1,201,0.367,55,11,86,29,232,275.24
3,Aaron Brooks,3832,6.9,558,312,0.559,26,22,76.4,183,0.328,55,13,63,50,330,265.28
14,Donovan McNabb,3233,6.6,493,285,0.578,25,12,84.3,136,0.276,44,9,64,39,273,255.32
11,Steve McNair,3350,7.8,431,264,0.613,21,12,90.2,159,0.369,51,10,71,37,251,236.00
6,Kerry Collins,3764,6.6,568,327,0.576,19,16,77.1,189,0.333,52,7,76,36,206,232.56
7,Jake Plummer,3653,7.0,525,304,0.579,18,14,79.6,177,0.337,52,11,68,29,204,226.12
12,Mark Brunell,3309,7.0,473,289,0.611,19,13,84.1,164,0.347,37,2,44,57,387,220.36
13,Jay Fiedler,3290,7.3,450,273,0.607,20,19,80.3,152,0.338,41,7,74,27,178,213.60
22,Brian Griese,2827,6.3,451,275,0.610,23,19,78.5,150,0.333,25,2,65,38,241,213.08
5,Trent Green,3783,7.2,523,296,0.566,17,24,71.1,176,0.337,51,12,67,39,198,205.32
21,Tom Brady,2843,6.9,413,264,0.639,18,12,86.5,143,0.346,32,6,91,41,216,197.72
9,Doug Flutie,3464,6.6,521,294,0.564,15,18,72.0,166,0.319,43,4,78,25,168,192.56
10,Brad Johnson,3406,6.1,559,340,0.608,13,11,77.7,179,0.320,34,1,47,44,269,192.24
16,Kordell Stewart,3109,7.0,442,266,0.602,14,11,81.7,145,0.328,44,6,90,29,175,186.36
20,Chris Chandler,2847,7.8,365,223,0.611,16,14,84.1,127,0.348,34,9,94,41,261,181.88
17,Tim Couch,3040,6.7,454,272,0.599,17,21,73.1,134,0.295,39,7,78,51,353,181.60
18,Elvis Grbac,3033,6.5,467,265,0.567,15,18,71.1,149,0.319,37,6,77,28,215,175.32
23,Vinny Testaverde,2752,6.2,441,260,0.590,15,14,75.3,144,0.327,38,1,40,18,122,172.08
24,Daunte Culpepper,2612,7.1,366,235,0.642,14,13,83.3,126,0.344,34,5,57,33,186,162.48
15,Jon Kitna,3216,5.5,581,313,0.539,12,22,61.1,171,0.294,32,2,49,25,185,156.64
19,Chris Weinke,2931,5.4,540,293,0.543,11,19,62.0,137,0.254,31,4,48,26,177,145.24

In [10]:
qb_generation_gap = pd.merge(qb_2001, qb, left_index=True, right_index=True)

In [11]:
qb_generation_gap.rename(columns=lambda s: s.replace('_x', '_2001'), inplace=True)
qb_generation_gap.rename(columns=lambda s: s.replace('_y', '_2021'), inplace=True)

qb_generation_gap.rename(columns={'pass_2021ds_2000': 'pass_yds_2001'}, inplace=True)
qb_generation_gap.rename(columns={'pass_2021ds_2021': 'pass_yds_2021'}, inplace=True)

In [12]:
qb_generation_gap.loc[[21]].T

                              21
name_2001              Tom Brady
pass_2021ds_2001            2843
yds/att_2001                 6.9
att_2001                     413
cmp_2001                     264
cmp_perc_2001              0.639
td_2001                       18
int_2001                      12
rate_2001                   86.5
1st_2001                     143
1st_perc_2001              0.346
20_plus_2001                  32
40_plus_2001                   6
long_2001                     91
sacked_2001                   41
sack_2021ds_2001             216
fantasy_pts_2001          197.72
name_2021         Russell Wilson
pass_yds_2021               3113
yds/att_2021                 7.8
att_2021                     400
cmp_2021                     259
cmp_perc_2021              0.648
td_2021                       25
int_2021                       6
rate_2021                  103.1
1st_2021                     135
1st_perc_2021              0.338
20_plus_2021                  45
40_plus_2021                  10
long_2021                     69
sacked_2021                   33
sack_2021ds_2021             266
fantasy_pts_2021          262.52