# This is the current notebook

In [1]:
import pandas as pd
import requests
import time

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# url = 'https://www.pro-football-reference.com/years/2021/rushing.htm'
# res = requests.get(url)

# res.status_code, res.text[:50]

In [4]:
position = ['rushing', 'passing', 'receiving']

for element in position:
    url = f'https://www.pro-football-reference.com/years/2021/{element}.htm'
    resp = requests.get(url)
    
    output = open(f'./nfl_data/2021_{element}_stats.xls', 'wb')
    output.write(resp.content)
    output.close()

#### Running Backs

In [5]:
df = pd.read_html('./nfl_data/2021_rushing_stats.xls')
df = pd.DataFrame(df[0]) # Saves df var to dataframe
df_rb = df.droplevel(0, axis=1) # Removes first level column
df_rb

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
0,1,Jonathan Taylor*+,IND,22,RB,17,17,332,1811,18,107,83,5.5,106.5,4
1,2,Najee Harris*,PIT,23,RB,17,17,307,1200,7,62,37,3.9,70.6,0
2,3,Joe Mixon*,CIN,25,RB,16,16,292,1205,13,60,32,4.1,75.3,2
3,4,Antonio Gibson,WAS,23,RB,16,14,258,1037,7,65,27,4.0,64.8,6
4,5,Dalvin Cook*,MIN,26,RB,13,13,249,1159,6,57,66,4.7,89.2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,367,Quez Watkins,PHI,23,WR,17,12,1,3,0,0,3,3.0,0.2,0
379,368,Derek Watt,PIT,29,fb,17,4,1,1,0,1,1,1.0,0.1,0
380,369,Preston Williams,MIA,24,wr,8,3,1,7,0,0,7,7.0,0.9,0
381,370,Andrew Wingard,JAX,25,S,15,15,1,4,0,1,4,4.0,0.3,0
382,371,Olamide Zaccheaus,ATL,24,wr,17,8,1,2,0,1,2,2.0,0.1,0

In [6]:
df_rb['Player'] = df_rb['Player'].map(lambda x: x.lstrip('*').rstrip('+').rstrip('*'))

In [7]:
df_rb

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
0,1,Jonathan Taylor,IND,22,RB,17,17,332,1811,18,107,83,5.5,106.5,4
1,2,Najee Harris,PIT,23,RB,17,17,307,1200,7,62,37,3.9,70.6,0
2,3,Joe Mixon,CIN,25,RB,16,16,292,1205,13,60,32,4.1,75.3,2
3,4,Antonio Gibson,WAS,23,RB,16,14,258,1037,7,65,27,4.0,64.8,6
4,5,Dalvin Cook,MIN,26,RB,13,13,249,1159,6,57,66,4.7,89.2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,367,Quez Watkins,PHI,23,WR,17,12,1,3,0,0,3,3.0,0.2,0
379,368,Derek Watt,PIT,29,fb,17,4,1,1,0,1,1,1.0,0.1,0
380,369,Preston Williams,MIA,24,wr,8,3,1,7,0,0,7,7.0,0.9,0
381,370,Andrew Wingard,JAX,25,S,15,15,1,4,0,1,4,4.0,0.3,0
382,371,Olamide Zaccheaus,ATL,24,wr,17,8,1,2,0,1,2,2.0,0.1,0

In [8]:
def drop_rows(position):
    for header in position.columns:
        index_list = position.loc[(position[header] == header)].index
        position.drop(labels=index_list, axis=0, inplace=True)
        return
drop_rows(df_rb)

In [9]:
def remove_punctuation(column, punc):
    return column.replace(punc, '', regex=True, inplace=True)

In [10]:
df_rb.shape

(371, 15)

In [11]:
int_cols = ['Att', 'Yds', 'TD', '1D', 'Lng', 'Fmb', 'G', 'GS']
float_cols = ['Y/A', 'Y/G']

for int_col in int_cols:
    df_rb[f'{int_col}'] = df_rb[f'{int_col}'].astype(int)

for float_col in float_cols:
    df_rb[f'{float_col}'] = df_rb[f'{float_col}'].astype(float)

In [12]:
df_rb.dtypes

Rk         object
Player     object
Tm         object
Age        object
Pos        object
G           int64
GS          int64
Att         int64
Yds         int64
TD          int64
1D          int64
Lng         int64
Y/A       float64
Y/G       float64
Fmb         int64
dtype: object

In [13]:
df_rb['TD'].value_counts()

0     216
1      55
2      37
3      15
5      13
4       9
7       6
6       6
8       5
10      3
15      2
18      1
13      1
9       1
12      1
Name: TD, dtype: int64

#### Quarterbacks

In [14]:
df = pd.read_html('./nfl_data/2021_passing_stats.xls')
df_qb = pd.DataFrame(df[0]) # Saves df var to dataframe
df_qb

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady*,TAM,44,QB,17,17,13-4-0,485,719,67.5,5316,43,6,12,1.7,269,62,7.4,7.8,11.0,312.7,102.1,68.1,22,144,3,6.98,7.41,3,5
1,2,Justin Herbert*,LAC,23,QB,17,17,9-8-0,443,672,65.9,5014,38,5.7,15,2.2,256,72,7.5,7.6,11.3,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,67.2,4886,41,6.8,17,2.8,233,79,8.1,8.2,12.1,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes*,KAN,26,QB,17,17,12-5-0,436,658,66.3,4839,37,5.6,13,2,260,75,7.4,7.6,11.1,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,68.4,4804,23,3.7,14,2.2,217,61,7.7,7.4,11.2,282.6,94.0,52.4,40,241,6,6.85,6.60,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,111,Cordarrelle Patterson,ATL,30,RB,16,13,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,2.9,0,0,0,0.00,0.00,NaN,NaN
114,112,Brett Rypien,DEN,25,NaN,1,0,NaN,0,2,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,1.1,0,0,0,0.00,0.00,NaN,NaN
115,113,D'Andre Swift,DET,22,rb,13,4,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,0.5,0,0,0,0.00,0.00,NaN,NaN
116,114,Albert Wilson,MIA,29,wr,14,5,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,0.0,1,1,50,-0.50,-0.50,NaN,NaN
117,115,Brandon Zylstra,CAR,28,wr,13,3,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,0.4,0,0,0,0.00,0.00,NaN,NaN

In [15]:
df_qb['Player'] = df_qb['Player'].map(lambda x: x.lstrip('*').rstrip('*'))
df_qb

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady,TAM,44,QB,17,17,13-4-0,485,719,67.5,5316,43,6,12,1.7,269,62,7.4,7.8,11.0,312.7,102.1,68.1,22,144,3,6.98,7.41,3,5
1,2,Justin Herbert,LAC,23,QB,17,17,9-8-0,443,672,65.9,5014,38,5.7,15,2.2,256,72,7.5,7.6,11.3,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,67.2,4886,41,6.8,17,2.8,233,79,8.1,8.2,12.1,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes,KAN,26,QB,17,17,12-5-0,436,658,66.3,4839,37,5.6,13,2,260,75,7.4,7.6,11.1,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,68.4,4804,23,3.7,14,2.2,217,61,7.7,7.4,11.2,282.6,94.0,52.4,40,241,6,6.85,6.60,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,111,Cordarrelle Patterson,ATL,30,RB,16,13,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,2.9,0,0,0,0.00,0.00,NaN,NaN
114,112,Brett Rypien,DEN,25,NaN,1,0,NaN,0,2,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,1.1,0,0,0,0.00,0.00,NaN,NaN
115,113,D'Andre Swift,DET,22,rb,13,4,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,0.5,0,0,0,0.00,0.00,NaN,NaN
116,114,Albert Wilson,MIA,29,wr,14,5,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,0.0,1,1,50,-0.50,-0.50,NaN,NaN
117,115,Brandon Zylstra,CAR,28,wr,13,3,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,0.4,0,0,0,0.00,0.00,NaN,NaN

In [16]:
drop_rows(df_qb)

In [17]:
df_qb.shape

(115, 31)

In [18]:
df_qb.fillna(0, inplace=True)

In [19]:
df_qb.isnull().sum()

Rk        0
Player    0
Tm        0
Age       0
Pos       0
G         0
GS        0
QBrec     0
Cmp       0
Att       0
Cmp%      0
Yds       0
TD        0
TD%       0
Int       0
Int%      0
1D        0
Lng       0
Y/A       0
AY/A      0
Y/C       0
Y/G       0
Rate      0
QBR       0
Sk        0
Yds.1     0
Sk%       0
NY/A      0
ANY/A     0
4QC       0
GWD       0
dtype: int64

In [20]:
int_cols = ['Cmp', 'Att', 'Yds', 'TD', 'Int', '1D', 'Lng', 'GS', 'Sk', 'Yds.1', '4QC', 'GWD']
float_cols = ['Cmp%', 'TD%', 'Int%', 'Y/A', 'AY/A', 'Y/C', 'Y/G', 'Rate', 'QBR', 'Rate', 'NY/A', 'ANY/A', 'Sk%']

for int_col in int_cols:
    df_qb[f'{int_col}'] = df_qb[f'{int_col}'].astype(int)

for float_col in float_cols:
    df_qb[f'{float_col}'] = df_qb[f'{float_col}'].astype(float)

In [21]:
df_qb.dtypes

Rk         object
Player     object
Tm         object
Age        object
Pos        object
G          object
GS          int64
QBrec      object
Cmp         int64
Att         int64
Cmp%      float64
Yds         int64
TD          int64
TD%       float64
Int         int64
Int%      float64
1D          int64
Lng         int64
Y/A       float64
AY/A      float64
Y/C       float64
Y/G       float64
Rate      float64
QBR       float64
Sk          int64
Yds.1       int64
Sk%       float64
NY/A      float64
ANY/A     float64
4QC         int64
GWD         int64
dtype: object

#### Wide Receivers

In [22]:
df = pd.read_html('./nfl_data/2021_receiving_stats.xls')
df_wr = pd.DataFrame(df[0]) # Saves df var to dataframe
df_wr

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,1,Cooper Kupp*+,LAR,28,WR,17,17,191,145,75.9%,1947,13.4,16,89,59,10.2,8.5,114.5,0
1,2,Davante Adams*+,GNB,29,WR,16,16,169,123,72.8%,1553,12.6,11,84,59,9.2,7.7,97.1,0
2,3,Tyreek Hill*,KAN,27,WR,17,16,159,111,69.8%,1239,11.2,9,75,75,7.8,6.5,72.9,2
3,4,Justin Jefferson*,MIN,22,WR,17,17,167,108,64.7%,1616,15.0,10,75,56,9.7,6.4,95.1,1
4,5,Mark Andrews*+,BAL,26,te,17,9,153,107,69.9%,1361,12.7,9,75,43,8.9,6.3,80.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,508,Seth Williams,DEN,21,wr,2,1,1,1,100.0%,34,34.0,0,1,34,34.0,0.5,17.0,0
524,509,Trayveon Williams,CIN,24,NaN,5,0,2,1,50.0%,4,4.0,0,0,4,2.0,0.2,0.8,0
525,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
526,510,Easop Winston,NOR,25,NaN,3,1,1,1,100.0%,5,5.0,0,0,5,5.0,0.3,1.7,0
527,511,Deon Yelder,TAM,26,NaN,5,0,1,1,100.0%,0,0.0,0,0,0,0.0,0.2,0.0,0

In [23]:
df_wr['Player'] = df_wr['Player'].map(lambda x: x.lstrip('*').rstrip('+').rstrip('*'))
df_wr

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,1,Cooper Kupp,LAR,28,WR,17,17,191,145,75.9%,1947,13.4,16,89,59,10.2,8.5,114.5,0
1,2,Davante Adams,GNB,29,WR,16,16,169,123,72.8%,1553,12.6,11,84,59,9.2,7.7,97.1,0
2,3,Tyreek Hill,KAN,27,WR,17,16,159,111,69.8%,1239,11.2,9,75,75,7.8,6.5,72.9,2
3,4,Justin Jefferson,MIN,22,WR,17,17,167,108,64.7%,1616,15.0,10,75,56,9.7,6.4,95.1,1
4,5,Mark Andrews,BAL,26,te,17,9,153,107,69.9%,1361,12.7,9,75,43,8.9,6.3,80.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,508,Seth Williams,DEN,21,wr,2,1,1,1,100.0%,34,34.0,0,1,34,34.0,0.5,17.0,0
524,509,Trayveon Williams,CIN,24,NaN,5,0,2,1,50.0%,4,4.0,0,0,4,2.0,0.2,0.8,0
525,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
526,510,Easop Winston,NOR,25,NaN,3,1,1,1,100.0%,5,5.0,0,0,5,5.0,0.3,1.7,0
527,511,Deon Yelder,TAM,26,NaN,5,0,1,1,100.0%,0,0.0,0,0,0,0.0,0.2,0.0,0

In [24]:
df_wr.shape

(528, 19)

In [25]:
drop_rows(df_wr)

In [26]:
df_wr.shape

(511, 19)

In [27]:
remove_punctuation(df_wr['Ctch%'], '%')

In [28]:
int_cols = ['Tgt', 'Rec', 'TD', 'Yds', 'Lng', 'Fmb', 'G', 'GS', '1D']
float_cols = ['Ctch%', 'Y/R', 'R/G', 'Y/Tgt', 'Y/G']

for int_col in int_cols:
    df_wr[f'{int_col}'] = df_wr[f'{int_col}'].astype(int)

for float_col in float_cols:
    df_wr[f'{float_col}'] = df_wr[f'{float_col}'].astype(float)

In [29]:
df_wr.dtypes

Rk         object
Player     object
Tm         object
Age        object
Pos        object
G           int64
GS          int64
Tgt         int64
Rec         int64
Ctch%     float64
Yds         int64
Y/R       float64
TD          int64
1D          int64
Lng         int64
Y/Tgt     float64
R/G       float64
Y/G       float64
Fmb         int64
dtype: object

#### Tight Ends

In [ ]:
df_te = df_wr.loc[(df_wr['Pos'] == 'TE'.lower())].copy()
df_te

In [ ]:
df_te['Player'] = df_te['Player'].map(lambda x: x.lstrip('*').rstrip('+').rstrip('*'))
df_te

In [ ]:
df_te.shape

#### Calculating Points

In [ ]:
qb_fantasy_points = {
            'touchdown': 6,
            'pass_yds': 25,
            'interception': -2,
        }

In [ ]:
# Need to clean data first
df_qb['fantasy_pts'] = df_qb['TD'].multiply(qb_fantasy_points['touchdown']) + df_qb['Yds'].divide(qb_fantasy_points['pass_yds']) + df_qb['Int'].multiply(qb_fantasy_points['interception'])

In [ ]:
df_qb[['Player', 'fantasy_pts']].sort_values(by='fantasy_pts', ascending=False)

#### This notebook is old stuff from here down

In [ ]:
qb_2021 = []
for row in table.find_all('tr')[1:]:
    qb = {}
    qb['name'] = row.find('a').text.strip()
    qb['pass_yds'] = row.find('td', {'class': 'selected'}).text.strip()
    qb['yds/att'] = row.find_all('td')[2].text.strip()
    qb['att'] = row.find_all('td')[3].text.strip()
    qb['cmp'] = row.find_all('td')[4].text.strip()
    qb['cmp_perc'] = row.find_all('td')[5].text.strip()
    qb['td'] = row.find_all('td')[6].text.strip()
    qb['int'] = row.find_all('td')[7].text.strip()
    qb['rate'] = row.find_all('td')[8].text.strip()
    qb['1st'] = row.find_all('td')[9].text.strip()
    qb['1st_perc'] = row.find_all('td')[10].text.strip()
    qb['20_plus'] = row.find_all('td')[11].text.strip()
    qb['40_plus'] = row.find_all('td')[12].text.strip()
    qb['long'] = row.find_all('td')[13].text.strip()
    qb['sacked'] = row.find_all('td')[14].text.strip()
    qb['sack_yds'] = row.find_all('td')[15].text.strip()
    qb_2021.append(qb)
    
time.sleep(3)

qb_2021 = pd.DataFrame.from_dict(qb_2021, orient='columns')

In [ ]:
qb_2021.head()

In [ ]:
qb_2021.shape

In [ ]:
qb_2021.info()

In [ ]:
qb_2021['pass_yds'] = qb_2021['pass_yds'].astype(int)
qb_2021['yds/att'] = qb_2021['yds/att'].astype(float)
qb_2021['att'] = qb_2021['att'].astype(int)
qb_2021['cmp'] = qb_2021['cmp'].astype(int)
qb_2021['cmp_perc'] = qb_2021['cmp_perc'].astype(float)
qb_2021['td'] = qb_2021['td'].astype(int)
qb_2021['int'] = qb_2021['int'].astype(int)
qb_2021['1st_perc'] = qb_2021['1st_perc'].astype(float)
qb_2021['20_plus'] = qb_2021['20_plus'].astype(int)
qb_2021['40_plus'] = qb_2021['40_plus'].astype(int)
qb_2021['long'] = qb_2021['long'].astype(int)
qb_2021['sacked'] = qb_2021['sacked'].astype(int)
qb_2021['sack_yds'] = qb_2021['sack_yds'].astype(int)

In [ ]:
qb_2021.info()

## 2020

In [ ]:
url = 'https://www.nfl.com/stats/player-stats/category/passing/2020/REG/all/passingyards/DESC'
res = requests.get(url)

res.status_code, res.text[:50]

In [ ]:
soup = BeautifulSoup(res.text, 'lxml')

table = soup.find('table', {'class', 'd3-o-table'})
type(table)

In [ ]:
qb_2020 = []
for row in table.find_all('tr')[1:]:
    qb = {}
    qb['name'] = row.find('a').text.strip()
    qb['pass_yds'] = row.find('td', {'class': 'selected'}).text.strip()
    qb['yds/att'] = row.find_all('td')[2].text.strip()
    qb['att'] = row.find_all('td')[3].text.strip()
    qb['cmp'] = row.find_all('td')[4].text.strip()
    qb['cmp_perc'] = row.find_all('td')[5].text.strip()
    qb['td'] = row.find_all('td')[6].text.strip()
    qb['int'] = row.find_all('td')[7].text.strip()
    qb['rate'] = row.find_all('td')[8].text.strip()
    qb['1st'] = row.find_all('td')[9].text.strip()
    qb['1st_perc'] = row.find_all('td')[10].text.strip()
    qb['20_plus'] = row.find_all('td')[11].text.strip()
    qb['40_plus'] = row.find_all('td')[12].text.strip()
    qb['long'] = row.find_all('td')[13].text.strip()
    qb['sacked'] = row.find_all('td')[14].text.strip()
    qb['sack_yds'] = row.find_all('td')[15].text.strip()
    qb_2020.append(qb)
    
time.sleep(3)

qb_2020 = pd.DataFrame.from_dict(qb_2020, orient='columns')

In [ ]:
qb_2020.head()

In [ ]:
qb_2020.shape

In [ ]:
qb_2020.info()

In [ ]:
qb_2020['pass_yds'] = qb_2020['pass_yds'].astype(int)
qb_2020['yds/att'] = qb_2020['yds/att'].astype(float)
qb_2020['att'] = qb_2020['att'].astype(int)
qb_2020['cmp'] = qb_2020['cmp'].astype(int)
qb_2020['cmp_perc'] = qb_2020['cmp_perc'].astype(float)
qb_2020['td'] = qb_2020['td'].astype(int)
qb_2020['int'] = qb_2020['int'].astype(int)
qb_2020['1st_perc'] = qb_2020['1st_perc'].astype(float)
qb_2020['20_plus'] = qb_2020['20_plus'].astype(int)
qb_2020['40_plus'] = qb_2020['40_plus'].astype(int)
qb_2020['long'] = qb_2020['long'].astype(int)
qb_2020['sacked'] = qb_2020['sacked'].astype(int)
qb_2020['sack_yds'] = qb_2020['sack_yds'].astype(int)

In [ ]:
qb_2020.info()

# 2001 - TB's Rookie Season

In [ ]:
url = 'https://www.nfl.com/stats/player-stats/category/passing/2001/REG/all/passingyards/DESC'
res = requests.get(url)

res.status_code, res.text[:50]

In [ ]:
soup = BeautifulSoup(res.text, 'lxml')

table = soup.find('table', {'class', 'd3-o-table'})
type(table)

In [ ]:
qb_2001 = []
for row in table.find_all('tr')[1:]:
    qb = {}
    qb['name'] = row.find('a').text.strip()
    qb['pass_yds'] = row.find('td', {'class': 'selected'}).text.strip()
    qb['yds/att'] = row.find_all('td')[2].text.strip()
    qb['att'] = row.find_all('td')[3].text.strip()
    qb['cmp'] = row.find_all('td')[4].text.strip()
    qb['cmp_perc'] = row.find_all('td')[5].text.strip()
    qb['td'] = row.find_all('td')[6].text.strip()
    qb['int'] = row.find_all('td')[7].text.strip()
    qb['rate'] = row.find_all('td')[8].text.strip()
    qb['1st'] = row.find_all('td')[9].text.strip()
    qb['1st_perc'] = row.find_all('td')[10].text.strip()
    qb['20_plus'] = row.find_all('td')[11].text.strip()
    qb['40_plus'] = row.find_all('td')[12].text.strip()
    qb['long'] = row.find_all('td')[13].text.strip()
    qb['sacked'] = row.find_all('td')[14].text.strip()
    qb['sack_yds'] = row.find_all('td')[15].text.strip()
    qb_2001.append(qb)
    
time.sleep(3)

qb_2001 = pd.DataFrame.from_dict(qb_2001, orient='columns')

In [ ]:
qb_2001.head()

In [ ]:
qb_2001.info()

In [ ]:
qb_2001['pass_yds'] = qb_2001['pass_yds'].astype(int)
qb_2001['yds/att'] = qb_2001['yds/att'].astype(float)
qb_2001['att'] = qb_2001['att'].astype(int)
qb_2001['cmp'] = qb_2001['cmp'].astype(int)
qb_2001['cmp_perc'] = qb_2001['cmp_perc'].astype(float)
qb_2001['td'] = qb_2001['td'].astype(int)
qb_2001['int'] = qb_2001['int'].astype(int)
qb_2001['1st_perc'] = qb_2001['1st_perc'].astype(float)
qb_2001['20_plus'] = qb_2001['20_plus'].astype(int)
qb_2001['40_plus'] = qb_2001['40_plus'].astype(int)
qb_2001['long'] = qb_2001['long'].astype(int)
qb_2001['sacked'] = qb_2001['sacked'].astype(int)
qb_2001['sack_yds'] = qb_2001['sack_yds'].astype(int)

In [ ]:
qb_2001.info()

In [ ]:
qb_2001.to_csv('nfl_data/2001_qb.csv', index=False)

# Merge df's (not including 2001)

In [ ]:
qb = pd.merge(qb_2020, qb_2021, on='name')

In [ ]:
qb.rename(columns=lambda s: s.replace('_x', '_2020'), inplace=True)
qb.rename(columns=lambda s: s.replace('_y', '_2021'), inplace=True)

qb.rename(columns={'pass_2021ds_2020': 'pass_yds_2020'}, inplace=True)
qb.rename(columns={'pass_2021ds_2021': 'pass_yds_2021'}, inplace=True)

## Export to CSV

In [ ]:
qb.to_csv('nfl_data/qb.csv', index=False)