# This is the current notebook

In [1]:
import pandas as pd
import requests
import time

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
url = 'https://www.pro-football-reference.com/years/2021/rushing.htm'
res = requests.get(url)

res.status_code, res.text[:50]

(200, '\n<!DOCTYPE html>\n<html data-version="klecko-" data')

In [7]:
position = ['rushing', 'passing', 'receiving']

for element in position:
    url = f'https://www.pro-football-reference.com/years/2021/{element}.htm'
    resp = requests.get(url)
    
    output = open(f'./nfl_data/2021_{element}_stats.xls', 'wb')
    output.write(resp.content)
    output.close()

#### Running Backs

In [8]:
df = pd.read_html('./nfl_data/2021_rushing_stats.xls')
df = pd.DataFrame(df[0]) # Saves df var to dataframe
df_rb = df.droplevel(0, axis=1) # Removes first level column
df_rb

,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
0,1,Jonathan Taylor*+,IND,22,RB,17,17,332,1811,18,107,83,5.5,106.5,4
1,2,Najee Harris*,PIT,23,RB,17,17,307,1200,7,62,37,3.9,70.6,0
2,3,Joe Mixon*,CIN,25,RB,16,16,292,1205,13,60,32,4.1,75.3,2
3,4,Antonio Gibson,WAS,23,RB,16,14,258,1037,7,65,27,4.0,64.8,6
4,5,Dalvin Cook*,MIN,26,RB,13,13,249,1159,6,57,66,4.7,89.2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,367,Quez Watkins,PHI,23,WR,17,12,1,3,0,0,3,3.0,0.2,0
379,368,Derek Watt,PIT,29,fb,17,4,1,1,0,1,1,1.0,0.1,0
380,369,Preston Williams,MIA,24,wr,8,3,1,7,0,0,7,7.0,0.9,0
381,370,Andrew Wingard,JAX,25,S,15,15,1,4,0,1,4,4.0,0.3,0
382,371,Olamide Zaccheaus,ATL,24,wr,17,8,1,2,0,1,2,2.0,0.1,0

#### Quarterbacks

In [9]:
df = pd.read_html('./nfl_data/2021_passing_stats.xls')
df_qb = pd.DataFrame(df[0]) # Saves df var to dataframe
df_qb

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,Yds,TD,TD%,Int,Int%,1D,Lng,Y/A,AY/A,Y/C,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady*,TAM,44,QB,17,17,13-4-0,485,719,67.5,5316,43,6,12,1.7,269,62,7.4,7.8,11.0,312.7,102.1,68.1,22,144,3,6.98,7.41,3,5
1,2,Justin Herbert*,LAC,23,QB,17,17,9-8-0,443,672,65.9,5014,38,5.7,15,2.2,256,72,7.5,7.6,11.3,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,67.2,4886,41,6.8,17,2.8,233,79,8.1,8.2,12.1,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes*,KAN,26,QB,17,17,12-5-0,436,658,66.3,4839,37,5.6,13,2,260,75,7.4,7.6,11.1,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,68.4,4804,23,3.7,14,2.2,217,61,7.7,7.4,11.2,282.6,94.0,52.4,40,241,6,6.85,6.60,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,111,Cordarrelle Patterson,ATL,30,RB,16,13,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,2.9,0,0,0,0.00,0.00,NaN,NaN
114,112,Brett Rypien,DEN,25,NaN,1,0,NaN,0,2,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,1.1,0,0,0,0.00,0.00,NaN,NaN
115,113,D'Andre Swift,DET,22,rb,13,4,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,0.5,0,0,0,0.00,0.00,NaN,NaN
116,114,Albert Wilson,MIA,29,wr,14,5,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,0.0,1,1,50,-0.50,-0.50,NaN,NaN
117,115,Brandon Zylstra,CAR,28,wr,13,3,NaN,0,1,0,0,0,0,0,0,0,0,0.0,0.0,NaN,0.0,39.6,0.4,0,0,0,0.00,0.00,NaN,NaN

In [97]:
qb_fantasy_points = {
            'touchdown': 6,
            'pass_yds': 25,
            'interception': -2,
        }

In [112]:
# Need to clean data first
df_qb['fantasy_pts'] = df_qb['TD'].multiply(qb_fantasy_points['touchdown']) + df_qb['Yds'].divide(qb_fantasy_points['pass_yds']) + df_qb['Int'].multiply(qb_fantasy_points['interception'])

TypeError: unsupported operand type(s) for /: 'str' and 'int'

#### Wide Receivers

In [104]:
df = pd.read_html('./nfl_data/2021_receiving_stats.xls')
df_wr = pd.DataFrame(df[0]) # Saves df var to dataframe
df_wr

,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,1,Cooper Kupp*+,LAR,28,WR,17,17,191,145,75.9%,1947,13.4,16,89,59,10.2,8.5,114.5,0
1,2,Davante Adams*+,GNB,29,WR,16,16,169,123,72.8%,1553,12.6,11,84,59,9.2,7.7,97.1,0
2,3,Tyreek Hill*,KAN,27,WR,17,16,159,111,69.8%,1239,11.2,9,75,75,7.8,6.5,72.9,2
3,4,Justin Jefferson*,MIN,22,WR,17,17,167,108,64.7%,1616,15.0,10,75,56,9.7,6.4,95.1,1
4,5,Mark Andrews*+,BAL,26,te,17,9,153,107,69.9%,1361,12.7,9,75,43,8.9,6.3,80.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,508,Seth Williams,DEN,21,wr,2,1,1,1,100.0%,34,34.0,0,1,34,34.0,0.5,17.0,0
524,509,Trayveon Williams,CIN,24,NaN,5,0,2,1,50.0%,4,4.0,0,0,4,2.0,0.2,0.8,0
525,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
526,510,Easop Winston,NOR,25,NaN,3,1,1,1,100.0%,5,5.0,0,0,5,5.0,0.3,1.7,0
527,511,Deon Yelder,TAM,26,NaN,5,0,1,1,100.0%,0,0.0,0,0,0,0.0,0.2,0.0,0

#### This notebook is old stuff from here down

In [4]:
qb_2021 = []
for row in table.find_all('tr')[1:]:
    qb = {}
    qb['name'] = row.find('a').text.strip()
    qb['pass_yds'] = row.find('td', {'class': 'selected'}).text.strip()
    qb['yds/att'] = row.find_all('td')[2].text.strip()
    qb['att'] = row.find_all('td')[3].text.strip()
    qb['cmp'] = row.find_all('td')[4].text.strip()
    qb['cmp_perc'] = row.find_all('td')[5].text.strip()
    qb['td'] = row.find_all('td')[6].text.strip()
    qb['int'] = row.find_all('td')[7].text.strip()
    qb['rate'] = row.find_all('td')[8].text.strip()
    qb['1st'] = row.find_all('td')[9].text.strip()
    qb['1st_perc'] = row.find_all('td')[10].text.strip()
    qb['20_plus'] = row.find_all('td')[11].text.strip()
    qb['40_plus'] = row.find_all('td')[12].text.strip()
    qb['long'] = row.find_all('td')[13].text.strip()
    qb['sacked'] = row.find_all('td')[14].text.strip()
    qb['sack_yds'] = row.find_all('td')[15].text.strip()
    qb_2021.append(qb)
    
time.sleep(3)

qb_2021 = pd.DataFrame.from_dict(qb_2021, orient='columns')

In [5]:
qb_2021.head()

,name,pass_yds,yds/att,att,cmp,cmp_perc,td,int,rate,1st,1st_perc,20_plus,40_plus,long,sacked,sack_yds
0,Tom Brady,5316,7.4,719,485,0.675,43,12,102.1,269,0.374,75,10,62,22,144
1,Justin Herbert,5014,7.5,672,443,0.659,38,15,97.7,256,0.381,53,15,72,31,214
2,Matthew Stafford,4886,8.1,601,404,0.672,41,17,102.9,233,0.388,65,18,79,30,243
3,Patrick Mahomes,4839,7.4,658,436,0.663,37,13,98.5,260,0.395,58,11,75,28,146
4,Derek Carr,4804,7.7,626,428,0.684,23,14,94,217,0.347,67,10,61,40,241

In [6]:
qb_2021.shape

(25, 16)

In [7]:
qb_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      25 non-null     object
 1   pass_yds  25 non-null     object
 2   yds/att   25 non-null     object
 3   att       25 non-null     object
 4   cmp       25 non-null     object
 5   cmp_perc  25 non-null     object
 6   td        25 non-null     object
 7   int       25 non-null     object
 8   rate      25 non-null     object
 9   1st       25 non-null     object
 10  1st_perc  25 non-null     object
 11  20_plus   25 non-null     object
 12  40_plus   25 non-null     object
 13  long      25 non-null     object
 14  sacked    25 non-null     object
 15  sack_yds  25 non-null     object
dtypes: object(16)
memory usage: 3.2+ KB

In [8]:
qb_2021['pass_yds'] = qb_2021['pass_yds'].astype(int)
qb_2021['yds/att'] = qb_2021['yds/att'].astype(float)
qb_2021['att'] = qb_2021['att'].astype(int)
qb_2021['cmp'] = qb_2021['cmp'].astype(int)
qb_2021['cmp_perc'] = qb_2021['cmp_perc'].astype(float)
qb_2021['td'] = qb_2021['td'].astype(int)
qb_2021['int'] = qb_2021['int'].astype(int)
qb_2021['1st_perc'] = qb_2021['1st_perc'].astype(float)
qb_2021['20_plus'] = qb_2021['20_plus'].astype(int)
qb_2021['40_plus'] = qb_2021['40_plus'].astype(int)
qb_2021['long'] = qb_2021['long'].astype(int)
qb_2021['sacked'] = qb_2021['sacked'].astype(int)
qb_2021['sack_yds'] = qb_2021['sack_yds'].astype(int)

In [9]:
qb_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      25 non-null     object
 1   pass_yds  25 non-null     int64
 2   yds/att   25 non-null     float64
 3   att       25 non-null     int64
 4   cmp       25 non-null     int64
 5   cmp_perc  25 non-null     float64
 6   td        25 non-null     int64
 7   int       25 non-null     int64
 8   rate      25 non-null     object
 9   1st       25 non-null     object
 10  1st_perc  25 non-null     float64
 11  20_plus   25 non-null     int64
 12  40_plus   25 non-null     int64
 13  long      25 non-null     int64
 14  sacked    25 non-null     int64
 15  sack_yds  25 non-null     int64
dtypes: float64(3), int64(10), object(3)
memory usage: 3.2+ KB

## 2020

In [10]:
url = 'https://www.nfl.com/stats/player-stats/category/passing/2020/REG/all/passingyards/DESC'
res = requests.get(url)

res.status_code, res.text[:50]

(200, '<!DOCTYPE html><html lang="en-US" dir="ltr"><head>')

In [11]:
soup = BeautifulSoup(res.text, 'lxml')

table = soup.find('table', {'class', 'd3-o-table'})
type(table)

bs4.element.Tag

In [12]:
qb_2020 = []
for row in table.find_all('tr')[1:]:
    qb = {}
    qb['name'] = row.find('a').text.strip()
    qb['pass_yds'] = row.find('td', {'class': 'selected'}).text.strip()
    qb['yds/att'] = row.find_all('td')[2].text.strip()
    qb['att'] = row.find_all('td')[3].text.strip()
    qb['cmp'] = row.find_all('td')[4].text.strip()
    qb['cmp_perc'] = row.find_all('td')[5].text.strip()
    qb['td'] = row.find_all('td')[6].text.strip()
    qb['int'] = row.find_all('td')[7].text.strip()
    qb['rate'] = row.find_all('td')[8].text.strip()
    qb['1st'] = row.find_all('td')[9].text.strip()
    qb['1st_perc'] = row.find_all('td')[10].text.strip()
    qb['20_plus'] = row.find_all('td')[11].text.strip()
    qb['40_plus'] = row.find_all('td')[12].text.strip()
    qb['long'] = row.find_all('td')[13].text.strip()
    qb['sacked'] = row.find_all('td')[14].text.strip()
    qb['sack_yds'] = row.find_all('td')[15].text.strip()
    qb_2020.append(qb)
    
time.sleep(3)

qb_2020 = pd.DataFrame.from_dict(qb_2020, orient='columns')

In [13]:
qb_2020.head()

,name,pass_yds,yds/att,att,cmp,cmp_perc,td,int,rate,1st,1st_perc,20_plus,40_plus,long,sacked,sack_yds
0,Deshaun Watson,4823,8.9,544,382,0.702,33,7,112.4,221,0.406,69,11,77,49,293
1,Patrick Mahomes,4740,8.1,588,390,0.663,38,6,108.2,238,0.405,67,8,75,22,147
2,Tom Brady,4633,7.6,610,401,0.657,40,12,102.2,233,0.382,63,12,50,21,143
3,Matt Ryan,4581,7.3,626,407,0.65,26,11,93.3,242,0.387,58,8,63,41,257
4,Josh Allen,4544,7.9,572,396,0.692,37,10,107.2,228,0.399,62,8,55,26,159

In [14]:
qb_2020.shape

(25, 16)

In [15]:
qb_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      25 non-null     object
 1   pass_yds  25 non-null     object
 2   yds/att   25 non-null     object
 3   att       25 non-null     object
 4   cmp       25 non-null     object
 5   cmp_perc  25 non-null     object
 6   td        25 non-null     object
 7   int       25 non-null     object
 8   rate      25 non-null     object
 9   1st       25 non-null     object
 10  1st_perc  25 non-null     object
 11  20_plus   25 non-null     object
 12  40_plus   25 non-null     object
 13  long      25 non-null     object
 14  sacked    25 non-null     object
 15  sack_yds  25 non-null     object
dtypes: object(16)
memory usage: 3.2+ KB

In [16]:
qb_2020['pass_yds'] = qb_2020['pass_yds'].astype(int)
qb_2020['yds/att'] = qb_2020['yds/att'].astype(float)
qb_2020['att'] = qb_2020['att'].astype(int)
qb_2020['cmp'] = qb_2020['cmp'].astype(int)
qb_2020['cmp_perc'] = qb_2020['cmp_perc'].astype(float)
qb_2020['td'] = qb_2020['td'].astype(int)
qb_2020['int'] = qb_2020['int'].astype(int)
qb_2020['1st_perc'] = qb_2020['1st_perc'].astype(float)
qb_2020['20_plus'] = qb_2020['20_plus'].astype(int)
qb_2020['40_plus'] = qb_2020['40_plus'].astype(int)
qb_2020['long'] = qb_2020['long'].astype(int)
qb_2020['sacked'] = qb_2020['sacked'].astype(int)
qb_2020['sack_yds'] = qb_2020['sack_yds'].astype(int)

In [17]:
qb_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      25 non-null     object
 1   pass_yds  25 non-null     int64
 2   yds/att   25 non-null     float64
 3   att       25 non-null     int64
 4   cmp       25 non-null     int64
 5   cmp_perc  25 non-null     float64
 6   td        25 non-null     int64
 7   int       25 non-null     int64
 8   rate      25 non-null     object
 9   1st       25 non-null     object
 10  1st_perc  25 non-null     float64
 11  20_plus   25 non-null     int64
 12  40_plus   25 non-null     int64
 13  long      25 non-null     int64
 14  sacked    25 non-null     int64
 15  sack_yds  25 non-null     int64
dtypes: float64(3), int64(10), object(3)
memory usage: 3.2+ KB

# 2001 - TB's Rookie Season

In [18]:
url = 'https://www.nfl.com/stats/player-stats/category/passing/2001/REG/all/passingyards/DESC'
res = requests.get(url)

res.status_code, res.text[:50]

(200, '<!DOCTYPE html><html lang="en-US" dir="ltr"><head>')

In [19]:
soup = BeautifulSoup(res.text, 'lxml')

table = soup.find('table', {'class', 'd3-o-table'})
type(table)

bs4.element.Tag

In [20]:
qb_2001 = []
for row in table.find_all('tr')[1:]:
    qb = {}
    qb['name'] = row.find('a').text.strip()
    qb['pass_yds'] = row.find('td', {'class': 'selected'}).text.strip()
    qb['yds/att'] = row.find_all('td')[2].text.strip()
    qb['att'] = row.find_all('td')[3].text.strip()
    qb['cmp'] = row.find_all('td')[4].text.strip()
    qb['cmp_perc'] = row.find_all('td')[5].text.strip()
    qb['td'] = row.find_all('td')[6].text.strip()
    qb['int'] = row.find_all('td')[7].text.strip()
    qb['rate'] = row.find_all('td')[8].text.strip()
    qb['1st'] = row.find_all('td')[9].text.strip()
    qb['1st_perc'] = row.find_all('td')[10].text.strip()
    qb['20_plus'] = row.find_all('td')[11].text.strip()
    qb['40_plus'] = row.find_all('td')[12].text.strip()
    qb['long'] = row.find_all('td')[13].text.strip()
    qb['sacked'] = row.find_all('td')[14].text.strip()
    qb['sack_yds'] = row.find_all('td')[15].text.strip()
    qb_2001.append(qb)
    
time.sleep(3)

qb_2001 = pd.DataFrame.from_dict(qb_2001, orient='columns')

In [21]:
qb_2001.head()

,name,pass_yds,yds/att,att,cmp,cmp_perc,td,int,rate,1st,1st_perc,20_plus,40_plus,long,sacked,sack_yds
0,Kurt Warner,4830,8.8,546,375,0.687,36,22,101.4,233,0.427,81,11,65,38,233
1,Peyton Manning,4131,7.6,547,343,0.627,26,23,84.1,201,0.367,55,11,86,29,232
2,Brett Favre,3921,7.7,510,314,0.616,32,15,94.1,187,0.367,53,13,67,22,151
3,Aaron Brooks,3832,6.9,558,312,0.559,26,22,76.4,183,0.328,55,13,63,50,330
4,Rich Gannon,3828,7,549,361,0.658,27,9,95.5,194,0.353,45,5,49,27,155

In [22]:
qb_2001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      25 non-null     object
 1   pass_yds  25 non-null     object
 2   yds/att   25 non-null     object
 3   att       25 non-null     object
 4   cmp       25 non-null     object
 5   cmp_perc  25 non-null     object
 6   td        25 non-null     object
 7   int       25 non-null     object
 8   rate      25 non-null     object
 9   1st       25 non-null     object
 10  1st_perc  25 non-null     object
 11  20_plus   25 non-null     object
 12  40_plus   25 non-null     object
 13  long      25 non-null     object
 14  sacked    25 non-null     object
 15  sack_yds  25 non-null     object
dtypes: object(16)
memory usage: 3.2+ KB

In [23]:
qb_2001['pass_yds'] = qb_2001['pass_yds'].astype(int)
qb_2001['yds/att'] = qb_2001['yds/att'].astype(float)
qb_2001['att'] = qb_2001['att'].astype(int)
qb_2001['cmp'] = qb_2001['cmp'].astype(int)
qb_2001['cmp_perc'] = qb_2001['cmp_perc'].astype(float)
qb_2001['td'] = qb_2001['td'].astype(int)
qb_2001['int'] = qb_2001['int'].astype(int)
qb_2001['1st_perc'] = qb_2001['1st_perc'].astype(float)
qb_2001['20_plus'] = qb_2001['20_plus'].astype(int)
qb_2001['40_plus'] = qb_2001['40_plus'].astype(int)
qb_2001['long'] = qb_2001['long'].astype(int)
qb_2001['sacked'] = qb_2001['sacked'].astype(int)
qb_2001['sack_yds'] = qb_2001['sack_yds'].astype(int)

In [24]:
qb_2001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      25 non-null     object
 1   pass_yds  25 non-null     int64
 2   yds/att   25 non-null     float64
 3   att       25 non-null     int64
 4   cmp       25 non-null     int64
 5   cmp_perc  25 non-null     float64
 6   td        25 non-null     int64
 7   int       25 non-null     int64
 8   rate      25 non-null     object
 9   1st       25 non-null     object
 10  1st_perc  25 non-null     float64
 11  20_plus   25 non-null     int64
 12  40_plus   25 non-null     int64
 13  long      25 non-null     int64
 14  sacked    25 non-null     int64
 15  sack_yds  25 non-null     int64
dtypes: float64(3), int64(10), object(3)
memory usage: 3.2+ KB

In [25]:
qb_2001.to_csv('nfl_data/2001_qb.csv', index=False)

# Merge df's (not including 2001)

In [26]:
qb = pd.merge(qb_2020, qb_2021, on='name')

In [27]:
qb.rename(columns=lambda s: s.replace('_x', '_2020'), inplace=True)
qb.rename(columns=lambda s: s.replace('_y', '_2021'), inplace=True)

qb.rename(columns={'pass_2021ds_2020': 'pass_yds_2020'}, inplace=True)
qb.rename(columns={'pass_2021ds_2021': 'pass_yds_2021'}, inplace=True)

## Export to CSV

In [28]:
qb.to_csv('nfl_data/qb.csv', index=False)