In [12]:
import pandas as pd
import requests
pd.options.display.max_columns = 999

### Scrape each week to get udpated defensive rankings.  Each week, export to csv and merge to master dataframe.

In [13]:
week_num = 17 
#change number according to the week scrape is being done

In [14]:
url = 'https://www.pro-football-reference.com/years/2021/opp.htm'
resp = requests.get(url)
resp

with open('./nfl_data/weekly/defensive_ranks.xls', 'wb') as f:
    f.write(resp.content)

In [15]:
df_def = pd.read_html('./nfl_data/weekly/defensive_ranks.xls')
df_def = pd.DataFrame(df_def[0]) 
df_def= df_def.droplevel(0, axis=1)
df_def = df_def.rename(columns = {'Tm':'Team', 'Rk': 'Rank'})
df_def.head()

,Rank,Team,G,PA,Yds,Ply,Y/P,TO,FL,1stD,Cmp,Att,Yds,TD,Int,NY/A,1stD,Att,Yds,TD,Y/A,1stD,Pen,Yds,1stPy,Sc%,TO%,EXP
0,1.0,Buffalo Bills,17.0,289.0,4637.0,1014.0,4.6,30.0,11.0,285.0,297.0,530.0,2771.0,12.0,19.0,4.8,138.0,442.0,1866.0,19.0,4.2,108.0,102.0,844.0,39.0,28.0,14.5,36.13
1,2.0,New England Patriots,17.0,303.0,5284.0,1038.0,5.1,30.0,7.0,308.0,319.0,538.0,3181.0,21.0,23.0,5.5,176.0,464.0,2103.0,9.0,4.5,111.0,100.0,831.0,21.0,29.4,16.9,-4.84
2,3.0,Denver Broncos,17.0,322.0,5544.0,1039.0,5.3,19.0,6.0,312.0,341.0,562.0,3652.0,22.0,13.0,6.1,192.0,441.0,1892.0,9.0,4.3,99.0,104.0,922.0,21.0,32.7,10.7,-36.14
3,4.0,New Orleans Saints,17.0,335.0,5410.0,1064.0,5.1,25.0,7.0,304.0,369.0,592.0,3821.0,20.0,18.0,6.0,185.0,426.0,1589.0,12.0,3.7,84.0,89.0,761.0,35.0,32.3,12.8,43.03
4,5.0,Tampa Bay Buccaneers,17.0,353.0,5635.0,1093.0,5.2,29.0,12.0,344.0,445.0,680.0,4062.0,26.0,17.0,5.6,214.0,366.0,1573.0,11.0,4.3,94.0,79.0,635.0,36.0,33.5,14.7,-0.60

In [16]:
# Grab only team name and rank
df_def = df_def.iloc[:, [0,1]].copy()
df_def.head()

   Rank                  Team
0   1.0         Buffalo Bills
1   2.0  New England Patriots
2   3.0        Denver Broncos
3   4.0    New Orleans Saints
4   5.0  Tampa Bay Buccaneers

In [17]:
df_def.dtypes

Rank    float64
Team     object
dtype: object

In [18]:
Team_Abbreviations_Dict = {
    'Arizona Cardinals': 'ARI',
    'Atlanta Falcons': 'ATL',
    'Baltimore Ravens': 'BAL',
    'Buffalo Bills' : 'BUF',
    'Carolina Panthers': 'CAR',
    'Chicago Bears': 'CHI',
    'Cincinnati Bengals': 'CIN',
    'Cleveland Browns': 'CLE',
    'Dallas Cowboys': 'DAL',
    'Denver Broncos': 'DEN',
    'Detroit Lions': 'DET',
    'Green Bay Packers': 'GNB',
    'Houston Texans': 'HOU',
    'Indianapolis Colts': 'IND',
    'Jacksonville Jaguars': 'JAX',
    'Kansas City Chiefs': 'KAN',
    'Miami Dolphins': 'MIA',
    'Minnesota Vikings': 'MIN',
    'New England Patriots': 'NE',
    'New Orleans Saints': 'NO',
    'New York Giants': 'NYG',
    'New York Jets': 'NYJ',
    'Las Vegas Raiders': 'LVR',
    'Philadelphia Eagles': 'PHI',
    'Pittsburgh Steelers': 'PIT',
    'Los Angeles Chargers': 'LAC',
    'San Francisco 49ers': 'SFO',
    'Seattle Seahawks': 'SEA',
    'Los Angeles Rams': 'LAR',
    'Tampa Bay Buccaneers': 'TAM',
    'Tennessee Titans': 'TEN',
    'Washington Commanders': 'WAS'
}

In [19]:
# tack on column with corresponding team abbreviation
df_def['Tm_Abr'] = df_def['Team'].map(lambda x: Team_Abbreviations_Dict.get(x))
df_def

    Rank                      Team Tm_Abr
0    1.0             Buffalo Bills    BUF
1    2.0      New England Patriots     NE
2    3.0            Denver Broncos    DEN
3    4.0        New Orleans Saints     NO
4    5.0      Tampa Bay Buccaneers    TAM
5    6.0          Tennessee Titans    TEN
6    7.0            Dallas Cowboys    DAL
7    8.0        Kansas City Chiefs    KAN
8    9.0       San Francisco 49ers    SFO
9   10.0        Indianapolis Colts    IND
10  11.0         Arizona Cardinals    ARI
11  12.0          Seattle Seahawks    SEA
12  13.0         Green Bay Packers    GNB
13  14.0          Cleveland Browns    CLE
14  15.0          Los Angeles Rams    LAR
15  16.0            Miami Dolphins    MIA
16  17.0        Cincinnati Bengals    CIN
17  18.0       Philadelphia Eagles    PHI
18  19.0          Baltimore Ravens    BAL
19  20.0       Pittsburgh Steelers    PIT
20  21.0         Carolina Panthers    CAR
21  22.0             Chicago Bears    CHI
22  23.0           New York Giants    NYG
23  24.0         Minnesota Vikings    MIN
24  25.0  Washington Football Team   None
25  26.0         Las Vegas Raiders    LVR
26  27.0            Houston Texans    HOU
27  28.0      Jacksonville Jaguars    JAX
28  29.0           Atlanta Falcons    ATL
29  30.0      Los Angeles Chargers    LAC
30  31.0             Detroit Lions    DET
31  32.0             New York Jets    NYJ
32   NaN                  Avg Team   None
33   NaN              League Total   None
34   NaN                  Avg Tm/G   None

In [20]:
df_def.drop(index = [32,33,34], axis = 0, inplace = True) #drop the average and total rows

In [25]:
df_def['Week'] = week_num
df_def.head(10)

   Rank                  Team Tm_Abr  Week
0   1.0         Buffalo Bills    BUF    17
1   2.0  New England Patriots     NE    17
2   3.0        Denver Broncos    DEN    17
3   4.0    New Orleans Saints     NO    17
4   5.0  Tampa Bay Buccaneers    TAM    17
5   6.0      Tennessee Titans    TEN    17
6   7.0        Dallas Cowboys    DAL    17
7   8.0    Kansas City Chiefs    KAN    17
8   9.0   San Francisco 49ers    SFO    17
9  10.0    Indianapolis Colts    IND    17

In [24]:
df_def.to_csv(f'./nfl_data/weekly/defensive/defensive ranks for Week {week_num}.csv', index=0)