In [1]:
import pandas as pd
import numpy as np
import requests
import os
import re

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
Team_Abbreviations_Dict = {
    'Arizona Cardinals': 'ARZ',
    'Atlanta Falcons': 'ATL',
    'Baltimore Ravens': 'BAL',
    'Buffalo Bills' : 'BUF',
    'Carolina Panthers': 'CAR',
    'Chicago Bears': 'CHI',
    'Cincinnati Bengals': 'CIN',
    'Cleveland Browns': 'CLE',
    'Dallas Cowboys': 'DAL',
    'Denver Broncos': 'DEN',
    'Detroit Lions': 'DET',
    'Green Bay Packers': 'GB',
    'Houston Texans': 'HOU',
    'Indianapolis Colts': 'IND',
    'Jacksonville Jaguars': 'JAX',
    'Kansas City Chiefs': 'KC',
    'Miami Dolphins': 'MIA',
    'Minnesota Vikings': 'MIN',
    'New England Patriots': 'NE',
    'New Orleans Saints': 'NO',
    'New York Giants': 'NYG',
    'New York Jets': 'NYJ',
    'Las Vegas Raiders': 'LV',
    'Philadelphia Eagles': 'PHI',
    'Pittsburgh Steelers': 'PIT',
    'Los Angeles Chargers': 'LAC',
    'San Francisco 49ers': 'SF',
    'Seattle Seahawks': 'SEA',
    'Los Angeles Rams': 'LAR',
    'Tampa Bay Buccaneers': 'TB',
    'Tennessee Titans': 'TEN',
    'Washington Commanders': 'WAS'
}

In [3]:
file_list = []

for key, value in Team_Abbreviations_Dict.items():
    url = f'https://www.ourlads.com/nfldepthcharts/depthchart/{value}'
    res = requests.get(url)
    with open(f'./nfl_data/weekly/depth_chart/{key}.xls', 'wb') as f:
        f.write(res.content)
    file_list.append(f'./nfl_data/weekly/depth_chart/{key}.xls')
    data = pd.read_html(f'./nfl_data/weekly/depth_chart/{key}.xls')
    df = data[0]
    print(url)

https://www.ourlads.com/nfldepthcharts/depthchart/ARZ
https://www.ourlads.com/nfldepthcharts/depthchart/ATL
https://www.ourlads.com/nfldepthcharts/depthchart/BAL
https://www.ourlads.com/nfldepthcharts/depthchart/BUF
https://www.ourlads.com/nfldepthcharts/depthchart/CAR
https://www.ourlads.com/nfldepthcharts/depthchart/CHI
https://www.ourlads.com/nfldepthcharts/depthchart/CIN
https://www.ourlads.com/nfldepthcharts/depthchart/CLE
https://www.ourlads.com/nfldepthcharts/depthchart/DAL
https://www.ourlads.com/nfldepthcharts/depthchart/DEN
https://www.ourlads.com/nfldepthcharts/depthchart/DET
https://www.ourlads.com/nfldepthcharts/depthchart/GB
https://www.ourlads.com/nfldepthcharts/depthchart/HOU
https://www.ourlads.com/nfldepthcharts/depthchart/IND
https://www.ourlads.com/nfldepthcharts/depthchart/JAX
https://www.ourlads.com/nfldepthcharts/depthchart/KC
https://www.ourlads.com/nfldepthcharts/depthchart/MIA
https://www.ourlads.com/nfldepthcharts/depthchart/MIN
https://www.ourlads.com/nfldepthcharts/depthchart/NE
https://www.ourlads.com/nfldepthcharts/depthchart/NO
https://www.ourlads.com/nfldepthcharts/depthchart/NYG
https://www.ourlads.com/nfldepthcharts/depthchart/NYJ
https://www.ourlads.com/nfldepthcharts/depthchart/LV
https://www.ourlads.com/nfldepthcharts/depthchart/PHI
https://www.ourlads.com/nfldepthcharts/depthchart/PIT
https://www.ourlads.com/nfldepthcharts/depthchart/LAC
https://www.ourlads.com/nfldepthcharts/depthchart/SF
https://www.ourlads.com/nfldepthcharts/depthchart/SEA
https://www.ourlads.com/nfldepthcharts/depthchart/LAR
https://www.ourlads.com/nfldepthcharts/depthchart/TB
https://www.ourlads.com/nfldepthcharts/depthchart/TEN
https://www.ourlads.com/nfldepthcharts/depthchart/WAS

In [4]:
dfs = []
for file in file_list:
    data = pd.read_html(file)
    df = pd.DataFrame(data[0])
    df.drop(columns = ['No', 'No.', 'No.1', 'No.2', 'No.3',], inplace = True)
    df = df[df['Player 1'].apply(lambda x: len(str(x).split(',')) > 1)]
    df['Team'] = re.search(r'[^\/]+(?=\.[^\/.]*$)', file)[0].split()[-1]
    dfs.append(df)
df = pd.concat(dfs, ignore_index=True)

In [5]:
# Clean dataframe
df['Player 1'] = [" ".join(str(i).title().split(' ')[::-1][1:]) for i in df['Player 1']]
df['Player 1'] = df['Player 1'].str.replace(',','')
df['Player 2'] = [" ".join(str(i).title().split(' ')[::-1][1:]) for i in df['Player 2']]
df['Player 2'] = df['Player 2'].str.replace(',','')
df['Player 3'] = [" ".join(str(i).title().split(' ')[::-1][1:]) for i in df['Player 3']]
df['Player 3'] = df['Player 3'].str.replace(',','')
df['Player 4'] = [" ".join(str(i).title().split(' ')[::-1][1:]) for i in df['Player 4']]
df['Player 4'] = df['Player 4'].str.replace(',','')
df['Player 5'] = [" ".join(str(i).title().split(' ')[::-1][1:]) for i in df['Player 5']]
df['Player 5'] = df['Player 5'].str.replace(',','')

In [6]:
# Rename columns
df.rename(columns = {'Player 1': 'Depth_1',
                     'Player 2': 'Depth_2',
                    'Player 3': 'Depth_3',
                    'Player 4': 'Depth_4',
                    'Player 5': 'Depth_5',
                    }, inplace = True)
df.head()

,Pos,Depth_1,Depth_2,Depth_3,Depth_4,Depth_5,Team
0,LWR,A.J. Green,Antoine Wesley,Javonta Payton,Jontre Kirklin,,Cardinals
1,RWR,Marquise Brown,Andre Baccellia,Changa Hodge,Stephon Jr. Robinson,,Cardinals
2,SWR,Rondale Moore,Andy Isabella,Greg Dortch,,,Cardinals
3,LT,D.J. Humphries,Joshua Miles,Koda Martin,,,Cardinals
4,LG,Justin Pugh,Sean Harlow,Marquis Hayes,,,Cardinals

In [7]:
set(df['Team'].values)

{'49ers',
 'Bears',
 'Bengals',
 'Bills',
 'Broncos',
 'Browns',
 'Buccaneers',
 'Cardinals',
 'Chargers',
 'Chiefs',
 'Colts',
 'Commanders',
 'Cowboys',
 'Dolphins',
 'Eagles',
 'Falcons',
 'Giants',
 'Jaguars',
 'Jets',
 'Lions',
 'Packers',
 'Panthers',
 'Patriots',
 'Raiders',
 'Rams',
 'Ravens',
 'Saints',
 'Seahawks',
 'Steelers',
 'Texans',
 'Titans',
 'Vikings'}

In [8]:
len(set(df['Team'].values))

32

In [9]:
df.head()

,Pos,Depth_1,Depth_2,Depth_3,Depth_4,Depth_5,Team
0,LWR,A.J. Green,Antoine Wesley,Javonta Payton,Jontre Kirklin,,Cardinals
1,RWR,Marquise Brown,Andre Baccellia,Changa Hodge,Stephon Jr. Robinson,,Cardinals
2,SWR,Rondale Moore,Andy Isabella,Greg Dortch,,,Cardinals
3,LT,D.J. Humphries,Joshua Miles,Koda Martin,,,Cardinals
4,LG,Justin Pugh,Sean Harlow,Marquis Hayes,,,Cardinals

#### Next step would be to do some sort of join or almost VLOOKUP on Pos and Team, and then return the 1, 2, 3, etc.